body {
    background-image: url('../img/certidicado3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}
  